ganesha.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ganesha.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
vulkansdk-macos-1.2.198.1
doom.xcodeproj/project.xcworkspace/contents.xcworkspacedata
doom.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
doom.xcodeproj/xcshareddata/xcschemes/doom.xcscheme
doom.xcodeproj/xcshareddata/xcschemes/ganesha.xcscheme
vulkansdk-macos*